
<%- include("../../partials/header.ejs")%>

<%- include("../../partials/navbar.ejs")%>

<div class="container">
    <hr>
    <div class="card">

        <div class="card-header">
            <h2>Cadastro de artigos</h2>
        </div>
        <div class="card-body">
            <form action="/articles/save" method="POST">
                <input class="form-control" type="text" name="titleArticle" >
                <br>
                <textarea class="form-control" name="body" id="article"></textarea>
                <br>
                 <select name="category" class="form-control">
                    <% categories.forEach((category)=>{%>
                        <option value="<%=category.id%>"><%=category.title%></option>

                    <%})%>
                 </select>
                <button class="btn btn-success my-5">enviar</button>
            </form>
        </div>
      

    </div>
</div>

<%- include("../../partials/footer.ejs")%>
<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script >
    tinymce.init({
        language:'pt_BR',
        selector:"#article",
        plugins:['advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste']
    })
</script>